
$border: 2px solid rgb(179, 31, 114);
$margin: 20px 20px;



.container{

    margin: $margin !important;
    background-color: darkturquoise !important;

    .form-control{
        border: $border !important;
    }

    .form-text{
        font-style: italic !important;
    }

    .form-check-label{
        font-style: italic !important;
    }

}



